# Data Science Tools and Ecosystem

## Author
Colin Barnett

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some commonly used libraries used by Data Scientists
- List three development environment open source tools used in Data Science
- Provide examples of evaluating arithmetic expressions in Python

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. Ggplot

| Data Science Tools |
| --------- |
| Jupyter Notebooks |
| RStudio |
| VisualStudio Code (VS Code) |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335